// https://nuxt.com/docs/api/configuration/nuxt-config
export default defineNuxtConfig({
    devtools: { enabled: true },

    modules: ["@pinia/nuxt", "nuxt-primevue"],

    primevue: {
        options: { ripple: true },

        components: {
            include: ["Button", "Dialog", "Sidebar"],
        },
        directives: {
            include: ["Ripple"],
        },

        composables: {
            include: [],
        },
    },

    app: {
        pageTransition: { name: "page", mode: "out-in" },

        head: {
            link: [{ rel: "icon", type: "image/x-icon", href: "/favicon.ico" }],
            htmlAttrs: { lang: "ru" },
        },
    },

    routeRules: {
        "/": { prerender: true },
        "/catalog": { swr: true },
        "/product/**": { swr: true },
    },

    nitro: {
        compressPublicAssets: { gzip: true, brotli: true },
    },

    /**
     * В dev-режиме значения берутся из файла .env
     * (если они там есть)
     */
    runtimeConfig: {
        public: {
            apiBase: "http://localhost",
            apiBaseLocal: "http://localhost",
            apiPort: "8000",
            productsPerPage: 12,
            searchThrottleInterval: 500,
        },
    },
});
